.schedule-div__wrapper::before {
  content: '';
  background-color: #222;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  background: rgb(30, 21, 48);
  background: linear-gradient(
    139deg,
    rgba(30, 21, 48, 1) 8%,
    rgba(28, 16, 43, 1) 97%
  );
}

.schedule-div__content {
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  color: #fff;
  padding-bottom: 100px;
}

.schedule-div__background {
  padding: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.schedule-heading__div {
  margin-bottom: 150px;
}

.schedule-heading__div div {
  margin-top: 20px;
  line-height: 2;
}

.schedule-heading__div div p {
  color: #fff;
  opacity: 70%;
  letter-spacing: 0.7px;
}

.schedules-content__div h3 {
  margin-bottom: 50px;
  font-size: 21px;
}

.schedules-grid__div {
  display: grid;
  gap: 55px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
